body{font-family: helvetica;
  text-align: center;}

.header{font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  }

#list{font-size: 18px;
  font-weight: lighter;
  color: white;}

#process{font-size: 32px;
  font-weight: bold;}

.sections{font-size: 23px;
  font-weight: bold;}

.nyc{font-size: 23px;
  font-weight: bold;
  color: white;
  background: url("../images/the-flatiron-building.png");
  }

.footer{text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;}
